# fly.toml app configuration file generated for chuk-mcp-open-meteo on 2025-11-22T13:51:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chuk-mcp-open-meteo'
primary_region = 'cdg'

[build]

[env]
  MCP_SERVER_MODE = 'http'
  PYTHONDONTWRITEBYTECODE = '1'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
